@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-beige: #EBE8E1;
    --color-beigeD: #DEDBD4;
    --color-greyD: #22211F;
    --font-mont: "Montserrat", sans-serif;
    --color-green: #77DD77;
}

body{
    background-color: #22211F;
}
